.link {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    &:hover {
        background-color: var(--hover_color);
        transition: all .5s;
    }

    &.active {
        background-color: var(--active_color);
        transition: all .3s;
    }
}