.container {
    display: flex;
    gap: 10px;
    
    .menu {
        flex: 1;
        padding: 20px;
        background-color: var(--elemnts_bg_color);
    }

    .content {
        flex: 4;
        padding: 20px;

        .wrapper {
            display: grid;
            grid-template-columns: 7fr 3fr;
            gap: 20px;

            .cards {
                grid-column: 1/2;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: space-between;
            }

            .transactions {
                grid-column: 1/2;
            }

            .chart {
                grid-column: 1/2;
            }

            .rightbar {
                grid-column: 2/3;
                grid-row: 1/4;

                // align-self: start;
            }

        }
    }
}

