.container {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elemnts_bg_color);
    margin-bottom: 20px;

    .title {
        text-transform: capitalize;
    } 
}